//palette design
$white-100: #ffffff;
$black-900: #000;
$black-800: #191825;
$white-200: #eee;
$yellow-200: #facd49;
$yellow-400: #fbbf24;
$purple-200: #5d50c6;
$purple-400: #7c3aed;
$orange-100: #ff5722;
$pink-100: #f85e9f;
$pink-400: #f4436c;
$aqua-400: #06b6d4;
