@use '../base/typography' as typo;
@use '../abstract/mixin' as mix;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 6.25rem;
    @include mix.use-typo(typo.$nav-link-2);
}
