//import all necessary files with appropriate namespace
@use '../abstract/function' as f;
@use '../abstract/mixin' as mix;
@use '../abstract/color' as c;
@use '../base/typography' as typo;
@use '../themes/light' as th;
@use 'sass:color';
@use '../abstract/variables' as var;

//defining styling for parent footer container
.footer {
    @include mix.flex(
        $direction: column,
        $align-item: stretch,
        $gap: var.$gap-xxl
    );

    width: 100%;
    margin-top: 9rem;
    padding: 0 var.$padding-lg;
    position: relative;
    @include mix.responsive-up(md) {
        margin-bottom: 2rem;
    }
    @include mix.responsive-up(lg) {
        @include mix.flex(
            $align-item: flex-start,
            $space: space-around,
            $gap: var.$gap-md
        );
    }

    //styling left portion of footer
    &__desc {
        @include mix.flex(
            $direction: column,
            $align-item: flex-start,
            $gap: var.$gap-lg
        );
        @include mix.responsive-up(lg) {
            max-width: f.px-to-rem(600);
        }
    }

    //setting logo container styling of footer
    &__logo-container {
        @include mix.flex($space: flex-start, $gap: var.$gap-md);
    }

    //setting footer logo dimensions
    &__logo-container > img {
        width: 2rem;
        height: 2rem;
    }

    //styling footer logo heading
    &__logo-title {
        font-size: typo.$font-size-md;
    }

    //setting help text is left section of footer
    &__subtitle {
        color: color.change(c.$black-800, $alpha: 0.75);
        text-align: left;
    }

    //setting social links of footer
    &__socials {
        @include mix.flex($space: flex-start, $gap: var.$gap-lg);
    }
    &__socials > a {
        color: th.$bg-primary;
    }

    //setting accordion styling of footer
    &__accordion {
        @include mix.flex(
            $direction: column,
            $align-item: stretch,
            $gap: var.$gap-lg
        );

        @include mix.responsive-up(md) {
            @include mix.grid(3, var.$gap-xxl);
        }
    }
}
