//import all necessary files with appropriate namespace
@use '../abstract/function' as f;
@use '../themes/light' as th;
@use '../abstract/mixin' as mix;
@use '../abstract/color' as c;
@use 'sass:color';
@use '../base/typography' as typo;

//defining layout for parent Service container
.service {
    @include mix.flex($direction: column);

    width: 100vw;
    padding: 4rem 0;
    gap: 2rem;
    position: relative;
    @include mix.responsive-up(lg) {
        @include mix.flex;
        width: 95vw;
    }
    &__content {
        @include mix.flex($direction: column);

        gap: 1.5rem;
        padding: 0 f.px-to-rem(32);
        @include mix.responsive-up(lg) {
            width: 60%;
            align-items: flex-start;
        }
    }
    &__content-sub-heading {
        text-transform: uppercase;
        text-align: center;
        color: c.$pink-100;
    }
    &__content-heading {
        text-align: center;
        color: c.$black-800;
        @include mix.responsive-up(lg) {
            text-align: left;
        }
    }
    &__content-subtitle {
        text-align: center;
        color: color.change(c.$black-800, $alpha: 0.5);
        @include mix.responsive-up(lg) {
            text-align: left;
        }
    }
    &__card-layout {
        @include mix.flex($direction: column);

        width: 90%;
        @include mix.responsive-up(md) {
            @include mix.flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
    }
    &__card-block {
        text-align: center;
        @include mix.responsive-up(md) {
            padding: 1rem;
            flex-grow: 1;
            flex-basis: 40%;
        }
        @include mix.responsive-up(lg) {
            flex-basis: 40%;
        }
    }
    &__card-block > h4 {
        text-align: center;
        color: c.$orange-100;
        @include mix.responsive-up(lg) {
            font-size: f.px-to-rem(30);
        }
    }
    &__card-desc {
        text-align: center;
        font-size: f.px-to-rem(18);
        @include mix.responsive-up(lg) {
            font-size: f.px-to-rem(15);
        }
    }
    &__ticket {
        display: none;
        @include mix.responsive-up(lg) {
            width: f.px-to-rem(90);
            display: inline-block;
            position: absolute;
            top: 43%;
            right: -1%;
        }
    }
    &__background {
        display: none;
        @include mix.responsive-up(md) {
            position: absolute;
            z-index: -1;
            pointer-events: none;
            width: f.px-to-rem(172);
            height: f.px-to-rem(448);
            background-color: th.$brand-tertiary;
            opacity: 50%;
            filter: blur(180px);
            display: inline-block;
            top: -30%;
            right: 0;
        }
    }
}
