//import all necessary files with appropriate namespace
@use '../abstract/function' as f;
@use '../themes/light' as th;
@use '../abstract/mixin' as mix;
@use '../abstract/color' as c;
@use 'sass:color';
@use '../base/typography' as typo;

//defining layout for parent Service container
.service {
    width: 100vw;
    @include mix.flex($direction: column);
    padding: 4rem 0;
    gap: 2rem;
    &__content {
        @include mix.flex($direction: column);
        gap: 1.5rem;
        padding: 0 f.px-to-rem(32);

        &__sub-heading {
            @include mix.useTypo(typo.$sub-heading-1);
            color: c.$pink-100;
        }
        &__heading {
            @include mix.useTypo(typo.$main-heading-2);
            color: c.$black-800;
        }
        &__subtitle {
            @include mix.useTypo(typo.$subtitle-1);
            color: color.change(c.$black-800, $alpha: 0.5);
        }
    }
    &__card-layout {
        @include mix.flex($direction: column);
        width: 90%;
    }
    &__card-block > h4 {
        @include mix.useTypo(typo.$main-heading-1);
        color: c.$orange-100;
    }
    &__card-desc {
        @include mix.useTypo(typo.$subtitle-1);
        font-size: f.px-to-rem(18);
    }
}

//Tablet view
@include mix.responsiveUp(md) {
    .service {
        &__card-layout {
            @include mix.flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
        &__card-block {
            padding: 1rem;
            flex-grow: 1;
        }
    }
}

//Desktop view
@include mix.responsiveUp(lg) {
    .service {
        @include mix.flex;
        width: 95vw;
        &__content {
            width: 60%;
            align-items: flex-start;
            &__heading {
                text-align: left;
            }
            &__subtitle {
                text-align: left;
            }
        }
        &__card-block {
            flex-basis: 40%;
        }
        &__card-block > h4 {
            font-size: f.px-to-rem(30);
        }
        &__card-desc {
            font-size: f.px-to-rem(15);
        }
    }
}
