@use '../abstract/color' as *;
@use 'sass:color';
//need to import fonts

//font family
$font-family-primary: 'Circular Std';
$font-family-secondary: Inter;

//font size
$font-size-xs: 0.875rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;

//font weight
$font-medium: 400;
$font-semibold: 700;
$font-bold: 900;

//line height
$line-height-open: 120%;
$line-height-full: 160%;
$line-height-relax: 2.5rem; //166.667%

//Main Headings
$main-heading-1: (
    text-align: center,
    font-family: $font-family-primary,
    font-size: $font-size-xl,
    font-weight: $font-semibold,
    line-height: $line-height-open,
);

$main-heading-2: (
    text-align: center,
    font-family: $font-family-primary,
    font-size: $font-size-lg,
    font-weight: $font-semibold,
    line-height: $line-height-open,
);

//Sub Headings
$sub-heading-1: (
    text-align: center,
    font-family: $font-family-primary,
    font-size: $font-size-sm,
    font-weight: $font-semibold,
    line-height: $line-height-open,
    text-transform: uppercase,
);

$sub-heading-2: (
    text-align: center,
    font-family: $font-family-primary,
    font-size: $font-size-xs,
    font-weight: $font-semibold,
    line-height: $line-height-open,
    text-transform: uppercase,
);

//helper text
$subtitle-1: (
    text-align: center,
    font-family: $font-family-secondary,
    font-size: $font-size-sm,
    font-weight: $font-medium,
    line-height: $line-height-full,
);

//navigation links
$nav-link-1: (
    font-family: $font-family-primary,
    font-size: $font-size-md,
    font-weight: $font-semibold,
    line-height: $line-height-open,
);

$nav-link-2: (
    font-family: $font-family-primary,
    font-size: $font-size-xs,
    font-weight: $font-semibold,
    line-height: $line-height-open,
    text-transform: capitalize,
);
